@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.disable {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  background-color: #ffffff;
  min-width: 1160px;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 36px;
  color: inherit;
}

.filter__title,
.sort__title,
.pagination__btn {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  text-transform: uppercase;
  color: inherit;
}

.filter__fieldset  {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__legend {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
}

.filter__label {
  font-size: 14px;
  line-height: 40px;
}

.filter__btn {
  border: none;
  background-color: transparent;
}


.delivery__item {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 800;

}

.goods__link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  color: inherit;
}

.product__bookmark {
  font-size: 15px;
  line-height: 30px;
  color: inherit;
}

.product__price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  color: inherit;
}

.site-header__logo a,
.site-footer__logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 800;
  text-transform: uppercase;
  color: inherit;
}


.slider__slogan {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 47px;
  font-weight: 800;
}

.slider__td {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

.slider__td-custom {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 300;
}


.slider-custom__toggle {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.slider-custom__title,
.delivery__title,
.site-main__title {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 47px;
  font-weight: 800;
}

.slider-custom__descr,
.delivery__descr {
  margin: 0;
  padding: 0;
}

.sort__link {
  font-size: 14px;
  line-height: 18px;
  color: inherit;
}

.search__input {
  font: inherit;
}



.navigation-header__link ,
.navigation-footer__link{
  line-height: 36px;
  color: inherit;
}


.navigation-header,
.navigation,
.navigation__item > ul,
.goods__list,
.slider-custom__list,
.delivery__list,
.navigation-footer,
.popup__list,
.social__list,
.breadcrumbs__list,
.filter__list,
.sort__list,
.pagination__list {
  margin: 0;
  padding: 0;
}

.navigation__link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  text-transform: uppercase;
  color: inherit;
}

.navigation__item > ul a {
  line-height: 36px;
  color: inherit;
}

.popup__label,
.product__descr {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  color: inherit;
}

.popup__input,
.popup__textarea {
  font: inherit;
}

/*Дополнительные эдементы*/


.button-base {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  text-transform: uppercase;
  color: inherit;
}
