.navigation-header {
  .list();
  display: flex;
  margin-bottom: 45px;
}

.navigation-header__link {
  line-height: 36px;
  color: inherit;
}

.navigation-header__item--compare {
  margin-left: auto;
  margin-right: 25px;
}

.navigation-header__item--search {
  padding-right: 100px;
}

.navigation-header__link {
  display: block;
  padding-top: 10px;
  height: 40px;
  width: 100px;
  text-align: right;
  box-sizing: border-box;
  outline: 2px solid blue;
}
