.search {
  width: 440px;
  outline: 2px solid green;
}

.search__form {
  display: flex;
}

.search__btn {
  width: 86px;
  box-sizing: border-box;
}

.search__input {
  width: 355px;
  font: inherit;
}
