.slider {
  display: flex;
  margin-top: -115px;
  margin-bottom: 115px;
}

.slider__slide:not(:first-child) {
  display: none;
}

.slider__table {
  margin-top: 55px;
}

.slider__descr {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  width: 480px;
}

.slider__slide {
  position: relative;
  outline: 2px solid orange;
}

.slider__rows {
  display: flex;
  justify-content: space-between;
}

.slider__right-row {
  position: relative;
  width: 500px;
  outline: 2px solid pink;

  &::before {
    content: '01';
    position: absolute;
    right: 0;
    top: -10px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 900;
    line-height: 179.2px;
    font-size: 179.2px;
    color: #fff;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50px;
    width: 100px;
    height: 7px;
    background-color: #fff;
  }
}

.slider__left-row {
  width: 450px;
  display: flex;
  justify-content: center;
  outline: 2px solid red;
}
.slider__toggle {
  position: absolute;
  font-size: 0;
}

.slider .container {
  width: 1040px;
  margin: 0 auto;
}

.slider__slogan {
  .list();
  margin-bottom: 25px;
  padding-top: 90px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 50px;
  font-weight: 800;
}

.slider__td {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

.slider__td-custom {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 300;
  padding-right: 73px;
  padding-bottom: 8px;
}
